body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  background: #fff;
}
body section {
  display: block;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body ul,
body li {
  margin: 0;
  padding: 0;
}
body h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  /* text-transform: uppercase; */
}
body h2 {
  font-family: Montserrat, sans-serif;
  font-size: 1.875em;
  font-weight: 700;
  text-transform: uppercase;
}
body h3 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5em;
  font-weight: 400;
}
body h4 {
  font-family: Montserrat, sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
}
body p {
  line-height: 150%;
  font-family: Montserrat, sans-serif;
  font-size: 0.9375em;
  color: #999;
}
body li {
  list-style-type: none;
}
body a {
  text-decoration: none;
}
.ui-helper-hidden-accessible {
  position: absolute;
  left: -999em;
}
.ui-autocomplete {
  position: absolute;
  cursor: default;
  background: #ccc;
}
.searchbox {
  text-align: center;
  padding: 20px;
  width: 32%;
  margin: 20px auto;
  background-color: rgb(55, 88, 250);
  border-radius: 10px;
}
.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */

  padding: 1em;
  border-radius: 10px;
  margin: 10px;
  height: 450px;
  background-image: linear-gradient(
    rgba(5, 151, 255, 0.9),
    rgba(188, 235, 255, 0.585)
  );
}
.Team_A,
.Team_B {
  width: 20px;
  height: 300px;
  background-color: gray;
  display: inline-block;
}
/* workarounds */
.ui-corner-all {
  -moz-border-radius: 4px 4px 4px 4px;
}
.ui-widget-content {
  /* border: 1px solid black;
   */
  box-shadow: 10px;
  color: #222222;
  background-color: rgb(255, 255, 255);
  left: 100px;
}
.ui-widget {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}
.ui-menu {
  display: block;
  float: left;
  list-style: none outside none;

  margin: 0;
  padding: 2px;
}
.ui-autocomplete {
  cursor: default;
  position: absolute;
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
}
.ui-autocomplete-input {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  border: 4px rgb(55, 88, 250) solid;
  margin-right: 10px;
}
.ui-autocomplete-input:focus {
  border-style: outset;
  border: 4px rgba(0, 179, 255, 0.557) solid;
  box-shadow: #ccc;
  outline: none;
}
.ui-menu .ui-menu-item {
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.ui-menu .ui-menu-item a {
  display: block;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  cursor: pointer;
  background-color: Green;
}
.ui-menu .ui-menu-item a:hover {
  display: block;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  color: White;
  cursor: pointer;
  background-color: rgba(0, 187, 255, 0.585);
}
.ui-widget-content a {
  color: #222222;
}
.ui-menu-item-wrapper:hover {
  background-color: rgb(2, 179, 255);
}
.lfbtn,
.rgbtn {
  background-color: cornflowerblue;
  color: white;
  border: 0;
  padding: 5px;
  width: 50px;
}
.tagmake {
  display: block;
  padding: 5px;
  margin-left: 2%;
  float: left;
  border-radius: 10px;
  margin-bottom: 2px;
  background-color: #0073ff;
  color: white;
}
.crossbtn {
  background-color: transparent;
  color: white;
  border: 0;
}
.crossbtn:focus {
  outline: 0;
}
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
