<nav class="aa-nav">
  <div
    class="aa-hamburger-menu collapsed"
    id="hamburgerMenu"
    onclick="toggleMenu()"
  >
    <span class="aa-icon-bar"></span>
    <span class="aa-icon-bar"></span>
    <span class="aa-icon-bar"></span>
  </div>

  <div class="aa-mobile-overlay">
    <ul class="aa-mobile-nav-items">
      <li><a href="{% url 'home'%}">Home</a></li>
      <li><a href="{% url 'rules'%}">Mechanics</a></li>
      <li><a href="{% url 'teamchoice'%}">Predict</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <a href="{% url 'home'%}"><h1 class="navlogo">CricsForGeeks</h1></a>
</nav>
<style>
  .navlogo {
    position: absolute;
    top: 15px;
    right: 20px;
    color: white;
  }
  body {
    font-family: "Raleway", "Comfortaa", "Montserrat", "Quicksand";
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    padding-top: 65px;
  }

  .hide {
    display: none !important;
  }

  /* Navbar */
  .aa-nav {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    overflow: hidden;
    /*background: rgb(255, 255, 255);*/
    background-image: linear-gradient(rgba(2, 137, 255), rgba(3, 24, 101));
    /*box-shadow: 0px 1px 8px rgba(0, 0, 0, .15);*/
  }
  /* ./Navbar */

  /* Logo image */
  .aa-nav-icon {
    position: absolute;
    height: 45px;
    cursor: pointer;
    top: 10px;
    right: 20px;
    display: inline;
    filter: invert(100%);
  }
  /* ./Logo image */

  /* Hamburger */
  .aa-icon-bar {
    background-color: rgb(255, 255, 255);
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
    transition: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
  }

  .aa-hamburger-menu {
    cursor: pointer;
    position: fixed;
    top: 25px;
    left: 20px;
    z-index: 999;
  }

  .aa-hamburger-menu:hover > .aa-icon-bar {
    background-color: rgb(255, 255, 255);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
  }

  .aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  /* ./Hamburger */

  /* Mobile Overlay */
  .aa-mobile-overlay {
    position: fixed;
    top: 65px;
    left: 0;
    height: 100%;
    width: 300px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    z-index: 999;
    display: none;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
  }

  .aa-mobile-nav-items {
    padding: 0;
    margin: 65px 0px;
    text-align: center;
    list-style: none;
  }

  .aa-mobile-nav-items > li {
    display: block;
    padding-top: 30px;
  }

  .aa-mobile-nav-items > li > a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  .aa-mobile-nav-items > li > a:hover {
    color: rgb(255, 112, 112);
  }
  /* ./Mobile Overlay */

  /* Media queries */
  @media screen and (max-width: 768px) {
    .aa-mobile-overlay {
      width: 100%;
    }
  }
  /* ./Media queries */
</style>
<script>
  function toggleMenu() {
    $("#hamburgerMenu").toggleClass("collapsed");
    $(".aa-mobile-overlay").animate(
      {
        width: "toggle",
        opacity: "toggle",
      },
      300
    );
  }
</script>
