{% extends 'predictor/main.html' %} {% block content %}
<div class="container-fluid stats-wrapper">
<h1 style="color:white;text-align:center">Predictions</h1>
<div class=" main-tables">
  <div class="dtable A-batting">
    <table>
      <thead>
        <tr>
          <th>{{teamA_name}}</th>
          <th>Runs made</th>
          <th>Balls faced</th>
        </tr>
      </thead>
      <tbody>
        {% for bat_name,stats in bat_a.items%}
        <tr>
          <td>{{bat_name}}</td>
          {%for stat in stats%}
          <td>{{stat}}</td>
          {%endfor%}
          {% comment %} <td>{{bat_a[i][1]}}</td> {% endcomment %}
        </tr>
        {%endfor%}
        <tr>
          <td class="totalA">Total</td>
          <td class="totalA">{{total_a}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="dtable B-batting">
    <table>
      <thead>
        <tr>
            <th>{{teamB_name}}</th>
            <th>Runs made</th>
            <th>Balls faced</th>
        </tr>
      </thead>
      <tbody>
        {% for bat_name,stats in bat_b.items%}
        <tr>
          <td>{{bat_name}}</td>
          {%for stat in stats%}
          <td>{{stat}}</td>
          {%endfor%}
          {% comment %} <td>{{bat_a[i][1]}}</td> {% endcomment %}
        </tr>
        {%endfor%}
        <tr>
          <td class="totalB">Total</td>
          <td class="totalB">{{total_b}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="dtable B-bowling">
    <table>
      <thead>
        <tr>
            <th>{{teamB_name}} </th>
            <th>Runs conceded</th>
            <th>Overs bowled</th>
        </tr>
      </thead>
      <tbody>
        {% for bowl_name,stats in bowl_b.items%}
        <tr>
          <td>{{bowl_name}}</td>
          {%for stat in stats%}
          <td>{{stat}}</td>
          {%endfor%}
          {% comment %} <td>{{bat_a[i][1]}}</td> {% endcomment %}
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  <div class="dtable A-bowling">
    <table>
      <thead>
        <tr>
            <th>{{teamA_name}}</th>
            <th>Runs conceded</th>
            <th>Overs bowled</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for bowl_name,stats in bowl_a.items%}
        <tr>
          <td>{{bowl_name}}</td>
          {%for stat in stats%}
          <td>{{stat}}</td>
          {%endfor%}
          {% comment %} <td>{{bat_a[i][1]}}</td> {% endcomment %}
        </tr>
        {%endfor%}
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
</div>
{% endblock content %}
